.container
  .row
    .col-lg-6.col-12
      %h6 Last result
      - if @last_training
        %p.training-articles
          = @last_training.word.articles.join(', ')
        %p.training-spanish
          = @last_training.word.spanish
        %p.training-russian
          = @last_training.word.russian
        %hr
        %p.training-user-input
          = @last_training.user_input
        %p.training-result
          = "#{@last_training.result} %"
        %hr
        = link_to 'Finish',
                  trainings_path,
                  class: 'btn btn-primary button-above-table',
                  role: 'button'
    .col-lg-6.col-12
      .form
        = form_with model: @training, url: trainings_path, local: true do |f|
          = render partial: 'shared/form_errors', locals: { object: @training }
          = f.hidden_field :word_id
          = f.hidden_field :direction, value: params[:direction]
          = f.hidden_field :word_type, value: params[:word_type]

          - if params[:direction] == 'ru-es'
            %h6 Russian
            %p.training-russian
              = @word.russian
            .form-group
              = f.label :article
              = f.text_field :article, class: 'form-control', autofocus: true
            .form-group
              = f.label :spanish
              = f.text_field :spanish, class: 'form-control'
          - else
            %h6 Spanish
            %p.training-articles
              = @word.articles.join(', ')
            %p.training-spanish
              = @word.spanish
            .form-group
              = f.label :russian
              = f.text_field :russian, class: 'form-control', autofocus: true

          - if @word.part_of_speech_verb? && @verb_forms.present?
            - VerbForm.tenses.each_key do |tense|
              %h6
                = "#{tense.humanize} (#{VerbForm.display_tense(tense)})"
              %table.table.table-striped.table-responsive
                %tbody
                  - VerbForm.pronouns.each_key do |pronoun|
                    %tr
                      %td
                        = VerbForm.display_pronoun(pronoun)
                      %td
                        = f.text_field "[#{tense}][#{pronoun}]", class: 'form-control'

          .form-group
            = f.submit 'Check', class: 'btn btn-primary'
