= form_with model: resource, url: session_path(resource_name), local: true, class: 'form-signin' do |f|
  .form-inputs
    = f.email_field :email,
                    name: 'user[email]',
                    required: true,
                    autofocus: true,
                    autocomplete: 'email',
                    class: 'form-control'
    = f.password_field :password,
                       name: 'user[password]',
                       required: true,
                       autocomplete: 'current-password',
                       class: 'form-control'
    .text-center
      = f.label :remember_me do
        = f.check_box :remember_me, name: 'user[remember_me]'
        Remember me
  .form-actions
    = f.submit 'Login', class: 'btn btn-lg btn-primary btn-block'
